*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}


.orderBox {
    width: 300px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid var(--pink);
    
    margin:20px auto;

}

.orderBox__box-one {

    width: 100%;
    height: 40%;;

}
.orderBox__box-one h5{
    font-size:1.5rem;
    color:white;
    margin-left:10px;
   }
.orderBox__box-one h6{
    color:green;
    margin-left:10px;
}

.orderBox__box-two {
    display: flex;

    width: 100%;
   height: 60%;

}

.orderBox__small-box-3,
.orderBox__small-box-2,
.orderBox__small-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
    border: 1px solid var(--pink);
   
}

.orderBox__small-box-3,
.orderBox__small-box-2,
.orderBox__small-box-1 p {
    font-size: 2rem;
    font-weight: 500;
    color:white;
    cursor: pointer;
}


@media (max-width: 500px) {

    .orderBox {

        width: 75%;
    }
}